$w: 8.25in;
$h: 10.75in;
@mixin box-shadow() {
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
html, body {
    padding: 0;
    margin: 0;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}
body.preview {
    background-color: whitesmoke;
    .sheet {
        @include box-shadow();
        margin: 2em;
    }
}
body .sheet {
    margin: 0;
    width: $w;
    height: $h;
    overflow: visible;
    position: relative;
    box-sizing: border-box;
    page-break-after: always;
    background-color: white;
}
button#modify {
    display: none;
    position: absolute;
    top: 2em;
    right: 2em;
}
#limitter {
    position: absolute;
    visibility: hidden;
}
#root * {
    box-sizing: border-box;
}
#content {
    padding: 0.25in;
}
[chart] {
    height: 5.5in;
    border: 1px dashed gainsboro;
    padding: 1px;
}
[chart].small {
    height: 2.5in;
}
[chart].tall {
    height: 4.5in;
}
.p {
    clear: both;
    margin: 0in 0in 0.3in 0in;
}
.hr {
    clear: both;
    margin: 0.2in 0in 0.2in 0in;
}
.row {
    margin-bottom: 0.005in;
}
.row:before,
.row:after {
    content: "";
    display: table;
}
.row:after {
    clear: both;
}
.row:last-child {
    margin-bottom: 0;
}
.column {
    width: 50%;
    padding: 0.005in;
    float: left;
}

table, th, td {

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-collapse: separate;
    border-spacing: 0px;
    border-width: 1px 0 0 1px;
    padding: 0.5em;
    width: 100%;
    font-size: 12px;

    caption, th, td {
        font-weight: normal;
        text-align: left;
    }

    th {
        border-width: 0 1px 1px 0;
        font-weight: bold;
        line-height: 24px;
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        padding: 0.5em;
        white-space: nowrap;
    }

    td {
        border-width: 0 1px 1px 0;
        padding: 0.5em;
    }

    tr:nth-child(odd) {
        background: #EEE;
    }

}
